<!DOCTYPE html>
<html lang="en">

<head>
    <title>TT admin - Add product  </title>
      <!-- Meta -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="description" content="CodedThemes">
      <meta name="keywords" content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
      <meta name="author" content="CodedThemes">

      <!-- Required Fremwork -->
      <link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.min.css">

      <!-- Style.css -->
      <link rel="stylesheet" type="text/css" href="/css/style.css">
      <link rel="stylesheet" type="text/css" href="/css/adminStyel.css">
      <link rel="stylesheet" type="text/css" href="/css/add_product.css">
      <link rel="stylesheet" href="css/product_management.css">

      <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


      <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="/css/jquery.mCustomScrollbar.css">

    <!-- Bootstrap css cdn link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"rel="stylesheet"integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"crossorigin="anonymous"/>
      
    <!-- cropper cdn css link -->
    <link rel="stylesheet" href="https://unpkg.com/cropperjs/dist/cropper.css">

    <!-- sweet alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
     

  </head>

  <body>
    
    
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <nav style="padding-top: 1px;" class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">

                    <div class="navbar-logo">
                        <a style="text-decoration: none;" class="mobile-menu"  href="#!">
                            Time Trove
                        </a>

                        <!-- tt logo -->
                        <div class="">
                            <a href="">
                                <svg class="logo" width="115" height="115" viewBox="0 0 115 115" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M31 90.44C26.7867 90.44 23.8267 89.1867 22.12 86.68C21.5333 85.88 21.24 84.84 21.24 83.56C21.24 82.12 21.6933 80.8667 22.6 79.8C23.6667 78.5733 25 77.96 26.6 77.96C27.6667 77.96 28.52 78.3333 29.16 79.08C29.7467 79.6667 30.04 80.4667 30.04 81.48C30.04 82.76 29.5867 83.8 28.68 84.6C27.7733 85.3467 26.8133 85.72 25.8 85.72C24.8933 85.72 24.0667 85.4 23.32 84.76C24.2267 86.7867 25.8533 87.8 28.2 87.8C33.6933 87.8 38.84 84.2267 43.64 77.08C44.8667 75.32 46.0667 73.48 47.24 71.56C48.4133 69.5867 49.5867 67.5333 50.76 65.4C51.8267 63.3733 52.8933 61.3467 53.96 59.32C55.0267 57.2933 56.0933 55.2667 57.16 53.24C61.5333 44.9733 66.36 40.0667 71.64 38.52C69.6133 38.2533 67.5867 37.96 65.56 37.64C63.5867 37.32 61.5867 37 59.56 36.68C57.16 36.3067 54.9467 36.04 52.92 35.88C50.9467 35.72 49.1867 35.64 47.64 35.64C41.3467 35.64 36.2533 36.9467 32.36 39.56C30.12 41.0533 28.3333 42.8667 27 45C25.6133 47.1867 24.92 49.2933 24.92 51.32C24.92 56.0133 28.0667 58.36 34.36 58.36C36.4933 58.36 38.6267 57.96 40.76 57.16C42.8933 56.3067 45.08 55.1067 47.32 53.56C49.1867 52.1733 50.92 50.6267 52.52 48.92C54.12 47.16 55.5333 45.2133 56.76 43.08C57.0267 42.6533 57.3733 42.44 57.8 42.44C58.44 42.44 58.6267 42.68 58.36 43.16C57.2933 45.6133 55.9867 47.8533 54.44 49.88C52.8933 51.8533 51.08 53.6133 49 55.16C44.7333 58.2533 40.0133 59.8 34.84 59.8C32.5467 59.8 30.4933 59.5067 28.68 58.92C26.8667 58.28 25.3467 57.32 24.12 56.04C22.0933 53.9067 21.08 51.3467 21.08 48.36C21.08 45.7467 21.88 43.2133 23.48 40.76C25.08 38.2533 27.3467 36.2533 30.28 34.76C35.08 32.4133 40.3867 31.24 46.2 31.24C48.28 31.24 50.7867 31.4267 53.72 31.8C56.6533 32.1733 60.0133 32.7333 63.8 33.48C68.8667 34.4933 73.0267 35.24 76.28 35.72C79.5333 36.2 81.88 36.44 83.32 36.44C86.4667 36.44 89 35.88 90.92 34.76C91.24 34.6 91.5067 34.52 91.72 34.52C92.04 34.52 92.2 34.7333 92.2 35.16C92.2 35.5333 91.9867 35.8533 91.56 36.12C88.04 38.52 83.5867 39.56 78.2 39.24L75.64 39C70.52 39.5867 66.28 44.0133 62.92 52.28C58.44 63.2133 55.7733 69.5067 54.92 71.16C51.3467 78.0933 47.1067 83.32 42.2 86.84C38.84 89.24 35.1067 90.44 31 90.44ZM76.2094 87C72.7427 87 71.0094 85.1067 71.0094 81.32C71.0094 80.5733 71.0627 79.8 71.1694 79C71.3294 78.2 71.5694 77.4 71.8894 76.6C74.716 69.1333 77.116 63.0533 79.0894 58.36H73.8894L74.8494 56.6H79.8094L81.7294 51C82.4227 49.0267 83.0094 47.8533 83.4894 47.48C83.8627 47.2133 84.716 47.08 86.0494 47.08L89.4894 47.16C88.4227 48.0667 87.6227 49.16 87.0894 50.44L84.4494 56.6H90.5294L89.5694 58.36H83.7294C83.356 59.2133 82.9827 60.0667 82.6094 60.92C82.2894 61.7733 81.916 62.6533 81.4894 63.56C80.3694 66.0133 79.4094 68.3333 78.6094 70.52C77.6494 73.0267 76.876 75.1867 76.2894 77C75.756 78.8133 75.436 80.2533 75.3294 81.32C75.116 83.9333 75.8094 85.24 77.4094 85.24C78.9027 85.24 80.716 83.64 82.8494 80.44L83.8094 81.56C81.2494 85.1867 78.716 87 76.2094 87Z"
                                        fill="#FDFFA8" />
                                    <path
                                        d="M57.55 114.1C88.7817 114.1 114.1 88.7817 114.1 57.55C114.1 26.3183 88.7817 1 57.55 1C26.3183 1 1 26.3183 1 57.55C1 88.7817 26.3183 114.1 57.55 114.1Z"
                                        stroke="#F1F5D9" stroke-width="1.38095" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </a>
                        </div>
                        <!-- tt logo -->
                    </div>

                    <div class="d-flex gap-3">
                        <p class="manageHeading">Add new Product</p>
                        <a href="/adminProductManagement" style="text-decoration: none;">
                            
                            <p class="addProductBtn"><i style="padding: 2px;" class="fa fa-angle-double-left" aria-hidden="true"></i>
                                Back To Product Management</p>
                        </a>
                            
                    </div>
                </div>
            </nav>


        <!-- product added success msg -->
            <% if (addproductSuccess && !messageDisplayed) { %>
                <!-- <div class="addproduct-success">
                    <div class="addproduct-successBox" id="success-box">  
                        <p id="addproductSuccessMessage">Product added successfully!</p>
                    </div>
                </div> -->

                <script>
                    const Toast = Swal.mixin({
                        toast: true,
                        position: "top-end",
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                        toast.onmouseenter = Swal.stopTimer;
                        toast.onmouseleave = Swal.resumeTimer;
                    },
                    customClass: {
                        container: 'custom-toast-container',
                        popup: 'custom-toast-popup',
                        header: 'custom-toast-header',
                        title: 'custom-toast-title',
                        icon: 'custom-toast-icon',
                        image: 'custom-toast-image',
                        content: 'custom-toast-content',
                        confirmButton: 'custom-toast-confirm-button'
                    }
                    });
                    Toast.fire({
                        icon: "success",
                        title: "Product successfully added."
                    });
                    
                </script>
            <% } %>
        <!-- product added success msg -->

        <!-- duplicate product name found-->
        <% if (duplicateProductName && !msgDisplayed) { %>
            <!-- <div class="duplicateProductBox addproduct-success">
                <div class="addproduct-successBox" id="success-box">  
                    <p style="color: red;" class="duplicateName" id="duplicateName">Duplicate product name detected. Choose a different name.</p>
                </div>
            </div> -->

            <script>
                Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Duplicate product name detected. Choose a different name!",
                    // footer: '<a href="#">Why do I have this issue?</a>'
                    });
            </script>
        <% } %>
        <!-- /duplicate product name found-->

            
            
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">

                    <!-- left side links -->
                    <nav class="pcoded-navbar">
                        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                        <div style="margin-left: -270px;" class="leftSideBox pcoded-inner-navbar main-menu">
                            <div class="">

                                <div class="main-menu-header">
                                    <div class="user-details">
                                        <span>Time Trove</span>
                                        <span id="more-details">Admin<i class="ti-angle-down"></i></span>
                                    </div>
                                </div>

                            </div>
                            
                            <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation"></div>

                            <ul class="pcoded-item pcoded-left-item">

                                <li style="margin-top: 30px;" class="listTag active">
                                    <a href="/adminHome" class="admin-links">
                                        <!-- <div style="padding: 30px;"> -->
                                            <span class="pcoded-micon"><i class="fa fa-home" aria-hidden="true"></i></i><b></b></span>
                                            <span style="font-weight: lighter;" class="pcoded-mtext" data-i18n="nav.form-components.main">Dashboard</span>
                                            <span class="pcoded-mcaret"></span>
                                        <!-- </div> -->
                                    </a>
                                </li>
                                <li style="margin-top: 30px;" class="listTag pcoded-hasmenu">
                                    <a href="/user-management" class="admin-links">
                                        <span class="pcoded-micon"><i class="fa fa-users" aria-hidden="true"></i></span>
                                        <span class="pcoded-mtext" data-i18n="nav.form-components.main">User Management</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li style="margin-top: 30px;" class="listTag">
                                    <a href="/adminProductManagement" style="width: 266px;" class="admin-links">
                                        <span style="background-color: #4680ff;" class="pcoded-micon"><i class="fa fa-th" aria-hidden="true"></i><b></b></span>
                                        <span  style="font-weight: bold;" class="pcoded-mtext"  data-i18n="nav.basic-components.main">Add Product</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li style="    margin-top: 30px;" class="listTag">
                                    <a href="/category-management" class="admin-links">
                                        <span style="background-color: #FC6180;" class="pcoded-micon"><i class="fa fa-female" aria-hidden="true"></i><b></b></span>
                                        <span   class="pcoded-mtext" data-i18n="nav.form-components.main">Category Management</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li style="margin-top: 30px;" class="listTag">
                                    <a href="/order-management" class="admin-links">
                                        <span style="background-color: #4680ff;" class="pcoded-micon"><i class="fa fa-truck" aria-hidden="true"></i><b></b></span>
                                        <span   class="pcoded-mtext" data-i18n="nav.form-components.main">Order Management</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li style="margin-top: 30px;" class="listTag">
                                    <a href="/coupon-management" class="admin-links">
                                        <span style="background-color: #FC6180;" class="pcoded-micon"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i><b></b></span>
                                        <span  class="pcoded-mtext" data-i18n="nav.form-components.main">Coupon Management</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li style="margin-top: 30px;" class="listTag pcoded-hasmenu">
                                    <a href="/offer-management" class="admin-links">
                                        <span style="background-color: #4680ff;" class="pcoded-micon"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i><b></b></span>
                                        <span  class="pcoded-mtext"  data-i18n="nav.basic-components.main">Offer Management</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li style="margin-top: 30px; margin-bottom: 30px;" class="listTag pcoded-hasmenu ">
                                    <a href="/referralOffer-management" class="admin-links">
                                        <span style="background-color: #FC6180;" class="pcoded-micon"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i><b></b></span>
                                        <span   class="pcoded-mtext" data-i18n="nav.menu-levels.main">Referrral Offer Management</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                            </ul>
                            
                            <div class="pcoded-navigatio-lavel" data-i18n="nav.category.other"></div>
                            <form action="/ad-logout" method="post"><button class="logout-btn">
                                <svg class="logout-svg" width="34" height="33" viewBox="0 0 34 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M29.8118 24.632H27.1455C26.9635 24.632 26.7928 24.7116 26.679 24.8518C26.4135 25.1739 26.1291 25.4846 25.8294 25.7802C24.604 27.0059 23.1524 27.9826 21.555 28.6565C19.9001 29.3549 18.1213 29.7132 16.3248 29.71C14.5081 29.71 12.7483 29.3537 11.0946 28.6565C9.49723 27.9826 8.04566 27.0059 6.8202 25.7802C5.59255 24.5587 4.61365 23.1109 3.93771 21.517C3.23606 19.8648 2.88333 18.1102 2.88333 16.295C2.88333 14.4798 3.23985 12.7253 3.93771 11.0731C4.61282 9.47767 5.58377 8.04144 6.8202 6.80984C8.05664 5.57824 9.49409 4.60812 11.0946 3.93359C12.7483 3.23631 14.5081 2.8801 16.3248 2.8801C18.1416 2.8801 19.9014 3.23252 21.555 3.93359C23.1556 4.60812 24.593 5.57824 25.8294 6.80984C26.1291 7.10921 26.4097 7.41995 26.679 7.73827C26.7928 7.87849 26.9673 7.95807 27.1455 7.95807H29.8118C30.0508 7.95807 30.1987 7.6928 30.0659 7.49195C27.1569 2.97484 22.067 -0.0151007 16.2831 5.73684e-05C7.19568 0.0227945 -0.0901822 7.39343 0.000843713 16.4618C0.0918696 25.3861 7.36636 32.59 16.3248 32.59C22.0936 32.59 27.1607 29.6039 30.0659 25.0981C30.1949 24.8973 30.0508 24.632 29.8118 24.632ZM33.1836 16.0563L27.8017 11.812C27.6007 11.6529 27.3086 11.7969 27.3086 12.0508V14.9308H15.3994C15.2325 14.9308 15.096 15.0672 15.096 15.234V17.3561C15.096 17.5228 15.2325 17.6593 15.3994 17.6593H27.3086V20.5393C27.3086 20.7932 27.6045 20.9372 27.8017 20.778L33.1836 16.5338C33.2198 16.5054 33.2492 16.4692 33.2693 16.4278C33.2895 16.3864 33.3 16.341 33.3 16.295C33.3 16.249 33.2895 16.2036 33.2693 16.1622C33.2492 16.1209 33.2198 16.0846 33.1836 16.0563Z" fill="white"/>
                                </svg>
                                Logout</button>
                            </form>
                        </div>
                    </nav>
                    <!-- /left side links -->


                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">

                                    <div class="page-body">
                                    <div style="margin-left: 274px;" >
                                        <div class="row">

                                            <form class="addProductForm" action="/add-product" enctype="multipart/form-data" method="post" onsubmit="return validateForm()">

                                                <div style="width: 945px;" class="container mt-5">
                                                    <h2 class="mb-4">Add New Product</h2>
                                                    <!-- <form> -->

                                                        <!-- product name -->
                                                        <div class="form-group">
                                                            <label for="productName">Product Name</label>
                                                            <input type="text" name="pName" value="" class="form-control" id="productName" placeholder="Enter product name">
                                                        </div>
                                                        <% if(invalidproductName){ %>
                                                            <p style="color: red; margin-top: 5px;">Product name needs 2+ letters</p>
                                                          <% } %>
                                                          <% if(notValidpName){ %>
                                                            <p style="color: red; margin-top: 5px;">Product name must be letters only</p>
                                                        <% } %>
                                                          <p id="pname"></p>
                                                        <!-- product name -->


                                                        <!-- category and qty -->
                                                        <div style="margin-top: 60px;" class="form-row">
                                                            <div class="form-group col-md-6">
                                                                <label for="category">Category</label>
                                                                <select class="form-control" id="category" name="category">
                                                                    <option value="" disabled selected>Select a category</option>
                                                                    <% for(let i=0; i<allCategories.length; i++) { %>
                                                                        <% if (allCategories[i].unlisted == false) { %>
                                                                            <option value="<%= allCategories[i].category %>"><%= allCategories[i].category %></option>
                                                                        <% } %>
                                                                    <% } %>
                                                                </select>
                                                            </div>

                                                            <div class="form-group col-md-6">
                                                                <label for="quantity">Quantity</label>
                                                                <input type="number" class="form-control" name="quantity" value="" id="quantity" placeholder="Enter quantity" >
                                                            </div>
                                                            <% if(negativeQtyValue){ %>
                                                                <p style="color: red; margin-top: 5px; font-size: 13px;">Enter non-negative quantity</p>
                                                             <% } %>
                                                             <% if(invalidQtyValue){ %>
                                                                <p style="color: red; margin-top: 5px; font-size: 13px;">Field required</p>
                                                             <% } %>

                                                        </div>
                                                        <p id="ctgry" style="color: red;"></p>
                                                        <p id="qty" style="color: red;"></p>
                                                        <!-- /category and qty -->



                                                        <div style="margin-top: 60px;" class="form-group">
                                                            <label for="productDescription">Description</label>
                                                            <input class="form-control"name="pDescription" value="" id="productDescription" rows="3" placeholder="Enter product description"></textarea>
                                                        </div>
                                                        <% if(emptypDescription){ %>
                                                            <p style="color: red; margin-top: -15px;">field required</p>
                                                          <% } %>
                                                          <p id="pDscrptn" style="color: red; margin-top: 5px;"></p>

                                                        <div style="margin-top: 40px;" class="form-group">
                                                            <label for="priceDetails">Price Details</label>
                                                            <div class="input-group">
                                                                <input type="number" name="fPrice" value="" class="fPrice form-control" id="firstprice" placeholder="First Price">
                                                                <% if(negativeFPrice){ %>
                                                                    <p style="color: red; position: relative;">Enter non-negative price</p>
                                                                 <% } %>
                                                                 <% if(invalidFPrice){ %>
                                                                   <p style="color: red; position: relative;left: -255px; top: 36px;">Enter at least 2 numbers</p>
                                                                <% } %>

                                                                <input type="number" name="discount" value=""id="discountapplied" class="discount form-control" placeholder="Discount (%)">
                                                                <% if(negativeDiscountValue){ %>
                                                                    <p style="color: red; position: relative;left: -240px; top: 36px;">Enter non-negative discount</p>
                                                                 <% } %>
                                                                 <% if(notValidDiscount){ %>
                                                                    <p style="color: red; position: relative;left: -240px; top: 36px;">Enter a valid % value</p>
                                                                 <% } %>
                                                                 <% if(invalidPercentage){ %>
                                                                    <p style="color: red; position: relative;left: -240px; top: 36px;">Discount cannot exceed 100%</p>
                                                                 <% } %>
                                                                 <% if(invalidDiscount){ %>
                                                                    <p style="color: red; position: relative;left: -240px; top: 36px;">Field required</p>
                                                                 <% } %>
                                                                 <p id="discountMessage" style="color: red; position: relative;left: -240px; top: 36px;"></p>


                                                                <input type="number" name="lPrice" value="" disabled class="lPrice form-control" id="lastprice" placeholder="Last Price">
                                                                <% if(negativeLPrice){ %>
                                                                    <p style="color: red;position: relative;top: 38px; left:-255px;">Enter non-negative price</p>
                                                                  <% } %>
                                                                  <% if(invalidLPrice){ %>
                                                                    <p style="color: red;position: relative; top: 38px; left:-255px;">Enter at least 2 numbers</p>
                                                                  <% } %>

                                                                <!-- *** -->
                                                                <% if(invalidlPrice && invalidfPrice){ %>
                                                                    <p style="color: red; margin-top: 5px; font-size: 13px;">Enter non-negative price</p>
                                                                <% } %>
                                                                <!-- *** -->
                                                            </div>

                                                            <div class="d-flex gap-3">
                                                                <p id="firstPrice" style="color: red;position: relative;"></p>
                                                                <p id="lastPrice" style="color: red; margin-top: -30px; font-size: 12px;margin-left: 117px;"></p>
                                                                <p id="discountOffer" style="color: red; margin-top: -30px; font-size: 12px; margin-left: 118px;"></p>
                                                            </div>

                                                        </div>


                                                        <div class="form-group">
                                                            <label for="formFile">Product Images</label>
                                                            
                                                            <input type="file"  class="form-control-file p-1" class="form-control" name="images" id="formFile" multiple onchange="previewImages(this)" required>
                                                        </div>
                                                        <% if(invalidImage){ %>
                                                            <p style="color: red; margin-top: 5px;">Please upload valid image files</p>
                                                        <% } %>
                                                        <p id="images" style="color: red; margin-top: 5px;"></p>

                                                        <div  id="imagePreview" class="preview-container remove-icon-container"></div>

                                                        <button type="submit" class="btn btn-primary final-btn">Add Product</button>
                                                        
                                                    </form>
                                                </div>


                                            </form>
                                           

                                        

                        
                                        </div>

                                    </div>
                                    </div>
                                </div>
                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
        </div>
    </div>

    

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.js" integrity="sha512-9KkIqdfN7ipEW6B6k+Aq20PV31bjODg4AA52W+tYtAE0jE0kMx49bjJ3FgvS56wzmyfMUHbQ4Km2b7l9+Y/+Eg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        
    </script>
    
<!-- show discount price -->

    <script>
        // Function to calculate and update the last price
        function updateLastPrice() {
            const firstPriceInput = document.getElementById('firstprice');
            const discountInput = document.getElementById('discountapplied');
            const lastPriceInput = document.getElementById('lastprice');
            const discountMessage = document.getElementById('discountMessage'); // Assuming you have an element to display the message
    
            // Only proceed if both inputs have values
            if (firstPriceInput.value && discountInput.value) {
                const firstPrice = parseFloat(firstPriceInput.value);
                const percentageDiscount = parseFloat(discountInput.value);
    
                // Validate the discount percentage
                if (percentageDiscount < 1 || percentageDiscount > 99) {
                    // Display an error message for invalid discount
                    discountMessage.textContent = 'Invalid discount. Enter a value between 1 and 99.';
                    discountMessage.style.color = 'red';
                    // Clear the last price field
                    lastPriceInput.value = '';
                    return; // Exit the function early to prevent further processing
                } else {
                    // Clear any existing error message
                    discountMessage.textContent = '';
                }
    
                // Calculate the last amount
                const lastAmount = (firstPrice * percentageDiscount) / 100;
    
                // Round the last amount to the nearest whole number and update the last price input field
                lastPriceInput.value = Math.round(firstPrice - lastAmount);
                
                // document.getElementById('lastprice').value =  lastPriceInput.value
            } else {
                // If either input is empty, clear the last price field
                lastPriceInput.value = '';
            }
        }
    
        // Add event listeners to the first price and discount inputs
        document.getElementById('firstprice').addEventListener('input', updateLastPrice);
        document.getElementById('discountapplied').addEventListener('input', updateLastPrice);
    
        // Call the function initially to set the last price if both inputs have values
        // This call is removed to prevent immediate validation on page load
    </script> 
    
<!-- /show discount price -->





    <!-- add-product form validation -->
    <script>
        function validateForm() { 
            // Get form elements
            const pNameInput = document.querySelector('input[name="pName"]');
            const categorySelect = document.querySelector('select[name="category"]');
            const pDescriptionInput = document.querySelector('input[name="pDescription"]');
            const fPriceInput = document.querySelector('input[name="fPrice"]');
            const lPriceInput = document.querySelector('input[name="lPrice"]');
            const discountInput = document.querySelector('input[name="discount"]');
            const quantityInput = document.querySelector('input[name="quantity"]');
            const imagesInput = document.querySelector('input[name="images"]');
    
            // Validate product name
            const trimmedPName = pNameInput.value.trim();
            if (trimmedPName.length < 2) {
                document.getElementById('pname').innerHTML = "Product name needs 2+ letters";
                return false;
            }
            if (!/^[A-Za-z ]+$/.test(trimmedPName)) {
                document.getElementById('pname').innerHTML = "Product name must be letters only";
                return false;
            }

            if (categorySelect.value === '') {
            document.getElementById('ctgry').innerHTML = "Category selection is required";
            return false;
            }

            // Validate quantity
            const trimmedQuantity = quantityInput.value.trim();
            if (!/^(?:\d*\.)?\d+$/.test(trimmedQuantity)) {
                document.getElementById('qty').innerHTML = "Enter non-negative quantity";
                return false;
            }
            if (!/\d{1,}/.test(trimmedQuantity)) {
                document.getElementById('qty').innerHTML = "Field required";
                return false;
            }
    
            // Validate product description
            const trimmedPDescription = pDescriptionInput.value.trim();
            if (trimmedPDescription === '') {
                document.getElementById('pDscrptn').innerHTML = "Description is required";
                return false;
            }
    
            // Validate first price
            const trimmedFPrice = fPriceInput.value.trim();
            if (!/^(?:\d*\.)?\d+$/.test(trimmedFPrice)) {
                document.getElementById('firstPrice').innerHTML = "Enter non-negative price";
                return false;
            }
            if (!/\d{2,}/.test(trimmedFPrice)) {
                document.getElementById('firstPrice').innerHTML = "Enter at least 2 numbers";
                return false;
            }
    
            // Validate last price
            const trimmedLPrice = lPriceInput.value.trim();
            if (!/^(?:\d*\.)?\d+$/.test(trimmedLPrice)) {
                document.getElementById('lastPrice').innerHTML = "Enter non-negative price";
                return false;
            }
            if (!/\d{2,}/.test(trimmedLPrice)) {
                document.getElementById('lastPrice').innerHTML = "Enter at least 2 numbers";
                return false;
            }
    
            // Validate discount
            const trimmedDiscount = discountInput.value.trim();
            if (!/^(?:\d*\.)?\d+$/.test(trimmedDiscount)) {
                document.getElementById('discountOffer').innerHTML = "Enter non-negative discount";
                return false;
            }
            if (trimmedDiscount < 1 || trimmedDiscount > 99) {
                document.getElementById('discountOffer').innerHTML = "Discount percentage should be between 1 and 99";
                return false;
            }
            if (trimmedDiscount > 100) {
                document.getElementById('discountOffer').innerHTML = "Discount percentage cannot exceed 100";
                return false;
            }
            if (!/\d{1,}/.test(trimmedDiscount)) {
                document.getElementById('discountOffer').innerHTML = "Field required";
                return false;
            }
    
            
    
            // Validate images
            if (imagesInput.files.length === 0) {
                document.getElementById('images').innerHTML = "Please upload valid image files";
                return false;
            }
            const allowedImageExtensions = /\.(png|jpeg|jpg|gif|bmp)$/i;
            if (!Array.from(imagesInput.files).every(file => allowedImageExtensions.test(file.name))) {
                document.getElementById('images').innerHTML = "Please upload valid image files with extensions: .png, .jpeg, .jpg, .gif, .bmp";
                return false;
            }

            if (imagesInput.files.length > 6) {
                document.getElementById('images').innerHTML = "Please upload no more than 6 image files";
                return false;
             }
    
            // If all validations pass, allow the form to submit
            return true;
        }
    
        // Attach the validateForm function to the form's onsubmit event
        const form = document.querySelector('form[action="/add-product"]');
        if (form) {
            form.onsubmit = validateForm;
        }
    </script>    
    <!-- add-product form validation -->




    <!-- script for sidebar menu activation -->
    <script>
        // get the current URL
        var currentUrl = window.location.href;

        // select all links inside the sidebar
        var sidebarLinks = document.querySelectorAll('.admin-links');

        sidebarLinks.forEach(function(link) {
            if (link.href === currentUrl) {
                link.parentElement.classList.add('active');
            }
        });
    </script>
    <!-- script for sidebar menu activation -->

    <!-- Modal -->
    <% for( let i = 1; i <= 6; i++ ) { %>
        <div class="modal fade" id="exampleModal<%= i %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="" class="img<%= i %>" alt="">
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="cropImg('<%= i %>')">Crop</button>
                </div>
            </div>
            </div>
        </div>
    <% } %>



    <!--script for image preview -->
    <script>
        const croppedCanvases = {};
        function previewImages(input) {
        const previewContainer = document.getElementById('imagePreview');
        previewContainer.innerHTML = ''; // Clear previous previews

        const files = input.files;

        const allowedImageExtensions = /\.(png|jpeg|jpg|gif|bmp)$/i;
        if (!Array.from(files).every(file => allowedImageExtensions.test(file.name))) {
            document.getElementById('images').innerHTML = "Please upload valid image files with extensions: .png, .jpeg, .jpg, .gif, .bmp";
            input.value = '';
            return false;
        }

        if (files.length > 6) {
            document.getElementById('images').innerHTML = "Please upload no more than 6 image files";
            input.value = '';
            return false;
        }

        for (let i = 0; i < files.length; i++) {
            const file = files[i];
            const reader = new FileReader();

            reader.onload = async function (e) {
                const imgContainer = document.createElement('div');
                imgContainer.classList.add('preview-item');
                // Set width and height for the preview-item container
                imgContainer.style.width = '100px';
                imgContainer.style.height = '100px';
                imgContainer.style.marginTop = '20px'

                const img = document.createElement('img');
                img.classList.add('uploadImg');
                img.classList.add(`inImg${i + 1}`);
                img.src = e.target.result;
                img.alt = file.name;
                // Set width and height for the image
                img.style.width = '100%';
                img.style.height = '100%';
                img.style.objectFit = 'cover';

                const cropBtn = document.createElement('button');
                cropBtn.textContent = 'crop Image'
                cropBtn.setAttribute('data-bs-toggle', 'modal');
                cropBtn.setAttribute('data-bs-target', `#exampleModal${i+1}`);
                const image = document.querySelector(`.img${i + 1}`);
                image.setAttribute('src', e.target.result);
                const cropper = await new Cropper(image, {
                    cropBoxResizable: true,
                    aspectRatio: 1 / 1,
                    viewMode: 0,
                    cropBox: {
                        width: 400, // Set the width of the crop box
                        height: 400, // Set the height of the crop box
                    },
                    ready() {
                        croppedCanvases[i + 1] = cropper.getCroppedCanvas();
                    }
                });
                


                const removeIcon = document.createElement('span');
                removeIcon.classList.add('remove-icon');
                removeIcon.innerHTML = '&times;';

            
                // Handle the removal of the image when the remove icon is clicked
                removeIcon.onclick = function () {
                    imgContainer.remove();
                    // Remove the corresponding file from the input
                    const inputFiles = Array.from(input.files);
                    const inputIndex = inputFiles.indexOf(file);
                    if (inputIndex !== -1) {
                        inputFiles.splice(inputIndex, 1);
                        input.value = null; // Clear the input field

                        // Create a new FileList with the updated files
                        const newFileList = new DataTransfer();
                        inputFiles.forEach((file) => newFileList.items.add(file));

                        // Set the input.files to the new FileList
                        input.files = newFileList.files;
                    }
                };

                imgContainer.appendChild(img);
                imgContainer.appendChild(removeIcon);
                // imgContainer.appendChild(cropBtn);

                previewContainer.appendChild(imgContainer);

                cropBtn.classList.add('cropBtn');
                
                
            };

            reader.readAsDataURL(file);
        }
        }
        function cropImg(index){
            const input = document.querySelector('#formFile');
            const croppedCanvas = croppedCanvases[index];
            // Get the data URL of the cropped image
            const croppedImageDataURL = croppedCanvas.toDataURL();
            const image = document.querySelector(`.inImg${index}`);
            image.setAttribute('src', croppedImageDataURL);
            // Remove the corresponding file from the input
            const inputFiles = Array.from(input.files);
            const inputIndex = inputFiles.indexOf(inputFiles[index - 1]);
            if (inputIndex !== -1) {
                const croppedImageFile = dataURLtoFile(croppedImageDataURL, `cropped_${index}.png`)
                inputFiles[inputIndex] = croppedImageFile

                // Create a new FileList with the updated files
                const newFileList = new DataTransfer();
                inputFiles.forEach((file) => newFileList.items.add(file));

                // Set the input.files to the new FileList
                input.files = newFileList.files;
            }

        }

        function dataURLtoFile(dataURL, filename) {
            const arr = dataURL.split(',');
            const mime = arr[0].match(/:(.*?);/)[1];
            const bstr = atob(arr[1]);
            let n = bstr.length;
            const u8arr = new Uint8Array(n);
            while (n--) {
                u8arr[n] = bstr.charCodeAt(n);
            }
            return new File([u8arr], filename, { type: mime });
        }
    </script>
    <!--end of image preview script-->



    <!-- add product success message -->
    <script>
        setTimeout(function () {
            var addproductSuccessMessage = document.getElementById('addproductSuccessMessage');
            var successBox = document.getElementById('success-box');
    
            if (addproductSuccessMessage && successBox) {
            addproductSuccessMessage.style.display = 'none';
            successBox.style.display = 'none';
    
            }
        }, 5000);

        setTimeout(function () {
            var duplicateName = document.getElementById('duplicateName');
            var successBox = document.getElementById('success-box');
    
            if (duplicateName && successBox) {
            duplicateName.style.display = 'none';
            successBox.style.display = 'none';
    
            }
        }, 5000);
    </script>


    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/23d1247997.js" crossorigin="anonymous"></script>
    <!-- end of fontawesome -->

    <!-- Bootstrap script file -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"crossorigin="anonymous"></script>
    <!--end of Bootstrap script file -->





    <!-- Include Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
