<!DOCTYPE html>
<html lang="en">

<head>
    <title>TT admin - dashboard  </title>
      <!-- Meta -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="description" content="CodedThemes">
      <meta name="keywords" content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
      <meta name="author" content="CodedThemes">

      <!-- Favicon icon -->
      <!-- <link rel="icon" href="/img/favicon.ico" type="image/x-icon"> -->
      

      <!-- Google font-->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
      <!-- Required Fremwork -->
      <link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.min.css">

      <!-- themify-icons line icon -->
      <link rel="stylesheet" type="text/css" href="../icon/themify-icons/themify-icons.css">

      <!-- ico font -->
      <link rel="stylesheet" type="text/css" href="../public/icon/icofont/css/icofont.css">

      <!-- Style.css -->
      <link rel="stylesheet" type="text/css" href="/css/style.css">
      <link rel="stylesheet" type="text/css" href="/css/adminStyel.css">

      <!-- lead chart js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

      <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" type="text/css" href="/css/jquery.mCustomScrollbar.css">
  </head>

  <body>
    
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">

                    <div class="navbar-logo">
                        <a class="mobile-menu"  href="#!">
                            Time Trove
                        </a>

                        <!-- tt logo -->
                        <div class="">
                            <a href="/adminHome">
                                <svg class="logo" width="115" height="115" viewBox="0 0 115 115" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M31 90.44C26.7867 90.44 23.8267 89.1867 22.12 86.68C21.5333 85.88 21.24 84.84 21.24 83.56C21.24 82.12 21.6933 80.8667 22.6 79.8C23.6667 78.5733 25 77.96 26.6 77.96C27.6667 77.96 28.52 78.3333 29.16 79.08C29.7467 79.6667 30.04 80.4667 30.04 81.48C30.04 82.76 29.5867 83.8 28.68 84.6C27.7733 85.3467 26.8133 85.72 25.8 85.72C24.8933 85.72 24.0667 85.4 23.32 84.76C24.2267 86.7867 25.8533 87.8 28.2 87.8C33.6933 87.8 38.84 84.2267 43.64 77.08C44.8667 75.32 46.0667 73.48 47.24 71.56C48.4133 69.5867 49.5867 67.5333 50.76 65.4C51.8267 63.3733 52.8933 61.3467 53.96 59.32C55.0267 57.2933 56.0933 55.2667 57.16 53.24C61.5333 44.9733 66.36 40.0667 71.64 38.52C69.6133 38.2533 67.5867 37.96 65.56 37.64C63.5867 37.32 61.5867 37 59.56 36.68C57.16 36.3067 54.9467 36.04 52.92 35.88C50.9467 35.72 49.1867 35.64 47.64 35.64C41.3467 35.64 36.2533 36.9467 32.36 39.56C30.12 41.0533 28.3333 42.8667 27 45C25.6133 47.1867 24.92 49.2933 24.92 51.32C24.92 56.0133 28.0667 58.36 34.36 58.36C36.4933 58.36 38.6267 57.96 40.76 57.16C42.8933 56.3067 45.08 55.1067 47.32 53.56C49.1867 52.1733 50.92 50.6267 52.52 48.92C54.12 47.16 55.5333 45.2133 56.76 43.08C57.0267 42.6533 57.3733 42.44 57.8 42.44C58.44 42.44 58.6267 42.68 58.36 43.16C57.2933 45.6133 55.9867 47.8533 54.44 49.88C52.8933 51.8533 51.08 53.6133 49 55.16C44.7333 58.2533 40.0133 59.8 34.84 59.8C32.5467 59.8 30.4933 59.5067 28.68 58.92C26.8667 58.28 25.3467 57.32 24.12 56.04C22.0933 53.9067 21.08 51.3467 21.08 48.36C21.08 45.7467 21.88 43.2133 23.48 40.76C25.08 38.2533 27.3467 36.2533 30.28 34.76C35.08 32.4133 40.3867 31.24 46.2 31.24C48.28 31.24 50.7867 31.4267 53.72 31.8C56.6533 32.1733 60.0133 32.7333 63.8 33.48C68.8667 34.4933 73.0267 35.24 76.28 35.72C79.5333 36.2 81.88 36.44 83.32 36.44C86.4667 36.44 89 35.88 90.92 34.76C91.24 34.6 91.5067 34.52 91.72 34.52C92.04 34.52 92.2 34.7333 92.2 35.16C92.2 35.5333 91.9867 35.8533 91.56 36.12C88.04 38.52 83.5867 39.56 78.2 39.24L75.64 39C70.52 39.5867 66.28 44.0133 62.92 52.28C58.44 63.2133 55.7733 69.5067 54.92 71.16C51.3467 78.0933 47.1067 83.32 42.2 86.84C38.84 89.24 35.1067 90.44 31 90.44ZM76.2094 87C72.7427 87 71.0094 85.1067 71.0094 81.32C71.0094 80.5733 71.0627 79.8 71.1694 79C71.3294 78.2 71.5694 77.4 71.8894 76.6C74.716 69.1333 77.116 63.0533 79.0894 58.36H73.8894L74.8494 56.6H79.8094L81.7294 51C82.4227 49.0267 83.0094 47.8533 83.4894 47.48C83.8627 47.2133 84.716 47.08 86.0494 47.08L89.4894 47.16C88.4227 48.0667 87.6227 49.16 87.0894 50.44L84.4494 56.6H90.5294L89.5694 58.36H83.7294C83.356 59.2133 82.9827 60.0667 82.6094 60.92C82.2894 61.7733 81.916 62.6533 81.4894 63.56C80.3694 66.0133 79.4094 68.3333 78.6094 70.52C77.6494 73.0267 76.876 75.1867 76.2894 77C75.756 78.8133 75.436 80.2533 75.3294 81.32C75.116 83.9333 75.8094 85.24 77.4094 85.24C78.9027 85.24 80.716 83.64 82.8494 80.44L83.8094 81.56C81.2494 85.1867 78.716 87 76.2094 87Z"
                                        fill="#FDFFA8" />
                                    <path
                                        d="M57.55 114.1C88.7817 114.1 114.1 88.7817 114.1 57.55C114.1 26.3183 88.7817 1 57.55 1C26.3183 1 1 26.3183 1 57.55C1 88.7817 26.3183 114.1 57.55 114.1Z"
                                        stroke="#F1F5D9" stroke-width="1.38095" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </a>
                        </div>
                        <!-- tt logo -->
                    </div>

                    <p class="manageHeading">Dashboard</p>
                </div>
            </nav>
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">

                    <!-- left side links -->
                    <nav class="pcoded-navbar">
                        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                        <div class="leftSideBox pcoded-inner-navbar main-menu">
                            <div class="">

                                <div class="main-menu-header">
                                    <div class="user-details">
                                        <span>Time Trove</span>
                                        <span id="more-details">Admin<i class="ti-angle-down"></i></span>
                                    </div>
                                </div>

                            </div>
                            
                            <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation"></div>

                            <ul class="pcoded-item pcoded-left-item">

                                <li style="margin-top: 30px;" class="listTag active">
                                    <a href="/adminHome" class="admin-links">
                                        <!-- <div style="padding: 30px;"> -->
                                            <span class="pcoded-micon"><i class="fa fa-home" aria-hidden="true"></i></i><b></b></span>
                                            <span class="pcoded-mtext" data-i18n="nav.dash.main">Dashboard</span>
                                            <span class="pcoded-mcaret"></span>
                                        <!-- </div> -->
                                    </a>
                                </li>
                                <li style="margin-top: 30px;" class="listTag pcoded-hasmenu">
                                    <a href="/user-management" class="admin-links">
                                        <span class="pcoded-micon"><i class="fa fa-users" aria-hidden="true"></i></span>
                                        <span class="pcoded-mtext"  data-i18n="nav.basic-components.main">User Management</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li style="margin-top: 30px;" class="listTag">
                                    <a href="/adminProductManagement" class="admin-links">
                                        <span style="background-color: #4680ff;" class="pcoded-micon"><i class="fa fa-th" aria-hidden="true"></i><b></b></span>
                                        <span  class="pcoded-mtext" data-i18n="nav.form-components.main">Product Management</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li style="    margin-top: 30px;" class="listTag">
                                    <a href="/category-management" class="admin-links">
                                        <span style="background-color: #FC6180;" class="pcoded-micon"><i class="fa fa-female" aria-hidden="true"></i><b></b></span>
                                        <span   class="pcoded-mtext" data-i18n="nav.form-components.main">Category Management</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li style="margin-top: 30px;" class="listTag">
                                    <a href="/order-management" class="admin-links">
                                        <span style="background-color: #4680ff;" class="pcoded-micon"><i class="fa fa-truck" aria-hidden="true"></i><b></b></span>
                                        <span   class="pcoded-mtext" data-i18n="nav.form-components.main">Order Management</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li style="margin-top: 30px;" class="listTag">
                                    <a href="/coupon-management" class="admin-links">
                                        <span style="background-color: #FC6180;" class="pcoded-micon"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i><b></b></span>
                                        <span  class="pcoded-mtext" data-i18n="nav.form-components.main">Coupon Management</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li style="margin-top: 30px;" class="listTag pcoded-hasmenu">
                                    <a href="/offer-management" class="admin-links">
                                        <span style="background-color: #4680ff;" class="pcoded-micon"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i><b></b></span>
                                        <span  class="pcoded-mtext"  data-i18n="nav.basic-components.main">Offer Management</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li style="margin-top: 30px; margin-bottom: 30px;" class="listTag pcoded-hasmenu ">
                                    <a href="/referralOffer-management" class="admin-links">
                                        <span style="background-color: #FC6180;" class="pcoded-micon"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i><b></b></span>
                                        <span   class="pcoded-mtext" data-i18n="nav.menu-levels.main">Referrral Offer Management</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                            </ul>
                            
                            <div class="pcoded-navigatio-lavel" data-i18n="nav.category.other"></div>
                            <form action="/ad-logout" method="post"><button class="logout-btn">
                                <svg class="logout-svg" width="34" height="33" viewBox="0 0 34 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M29.8118 24.632H27.1455C26.9635 24.632 26.7928 24.7116 26.679 24.8518C26.4135 25.1739 26.1291 25.4846 25.8294 25.7802C24.604 27.0059 23.1524 27.9826 21.555 28.6565C19.9001 29.3549 18.1213 29.7132 16.3248 29.71C14.5081 29.71 12.7483 29.3537 11.0946 28.6565C9.49723 27.9826 8.04566 27.0059 6.8202 25.7802C5.59255 24.5587 4.61365 23.1109 3.93771 21.517C3.23606 19.8648 2.88333 18.1102 2.88333 16.295C2.88333 14.4798 3.23985 12.7253 3.93771 11.0731C4.61282 9.47767 5.58377 8.04144 6.8202 6.80984C8.05664 5.57824 9.49409 4.60812 11.0946 3.93359C12.7483 3.23631 14.5081 2.8801 16.3248 2.8801C18.1416 2.8801 19.9014 3.23252 21.555 3.93359C23.1556 4.60812 24.593 5.57824 25.8294 6.80984C26.1291 7.10921 26.4097 7.41995 26.679 7.73827C26.7928 7.87849 26.9673 7.95807 27.1455 7.95807H29.8118C30.0508 7.95807 30.1987 7.6928 30.0659 7.49195C27.1569 2.97484 22.067 -0.0151007 16.2831 5.73684e-05C7.19568 0.0227945 -0.0901822 7.39343 0.000843713 16.4618C0.0918696 25.3861 7.36636 32.59 16.3248 32.59C22.0936 32.59 27.1607 29.6039 30.0659 25.0981C30.1949 24.8973 30.0508 24.632 29.8118 24.632ZM33.1836 16.0563L27.8017 11.812C27.6007 11.6529 27.3086 11.7969 27.3086 12.0508V14.9308H15.3994C15.2325 14.9308 15.096 15.0672 15.096 15.234V17.3561C15.096 17.5228 15.2325 17.6593 15.3994 17.6593H27.3086V20.5393C27.3086 20.7932 27.6045 20.9372 27.8017 20.778L33.1836 16.5338C33.2198 16.5054 33.2492 16.4692 33.2693 16.4278C33.2895 16.3864 33.3 16.341 33.3 16.295C33.3 16.249 33.2895 16.2036 33.2693 16.1622C33.2492 16.1209 33.2198 16.0846 33.1836 16.0563Z" fill="white"/>
                                </svg>
                                Logout</button>
                            </form>
                        </div>
                    </nav>
                    <!-- /left side links -->


                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">

                                    <div class="page-body">
                                    <div style="margin-left: 274px;" >
                                        <div class="row">

                                            <!-- card1 start -->
                                            <div class="col-md-6 col-xl-3">
                                                <div class="card widget-card-1">
                                                    <div class="card-block-small">
                                                        <i class="icofont icofont-pie-chart bg-c-blue card1-icon"></i>
                                                        <i class="icofont icofont-pie-chart bg-c-blue card1-icon fa fa-users" aria-hidden="true"></i>
                                                        <span class="text-c-blue f-w-600">Total Users</span>
                                                        <h4><%= totalUsers %></h4>
                                                        <input hidden type="text" value="<%= totalUsers %>" name="totalUsers">
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- card1 end -->

                                            <!-- card1 start -->
                                            <div class="col-md-6 col-xl-3">
                                                <div class="card widget-card-1">
                                                    <div class="card-block-small">
                                                        <i class="fa fa-truck icofont icofont-ui-home bg-c-pink card1-icon" aria-hidden="true"></i>
                                                        <span class="text-c-pink f-w-600">New Orders</span>
                                                        <h4><%= latestOrders %></h4>
                                                        <input hidden type="text" value="<%= latestOrders %>" name="latestOrders">
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- card1 end -->

                                            <!-- card1 start -->
                                            <div class="col-md-6 col-xl-3">
                                                <div class="card widget-card-1">
                                                    <div class="card-block-small">
                                                        <!-- <i class="icofont icofont-warning-alt bg-c-green card1-icon"></i> -->
                                                        <i class="fa fa-balance-scale icofont icofont-warning-alt bg-c-green card1-icon" aria-hidden="true"></i>
                                                        <span class="text-c-green f-w-600">Total Sales</span>
                                                        <h4>₹<%= Math.round(totalSalesAmount) %></h4>
                                                        <input hidden type="text" value="<%= totalSalesAmount %>" name="totalSalesAmount">
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- card1 end -->

                                            <!-- download pdf/exc card -->
                                            <div class="col-md-6 col-xl-3">
                                                <div class="card widget-card-1">
                                                    <div class="card-block-small">
                                                        <div class="d-flex gap-3">
                                                            
                                                            <button id="pdfOrExcelOption" class="downloadBtn"><i id="cloudIcon" class="fa fa-cloud-download" aria-hidden="true"></i>Download Sales Report</button>
                                                        </div>                                                         
                                                        <h5 style="visibility: hidden;">78</h5>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- download pdf/exc card end -->



                                            <!-- pdf/excel popup -->
                                            <div id="pdfExcelContainer" >

                                                <label class="labels">
                                                <input style="margin-left: 119px;" type="radio" name="exportType" value="excel" checked> Excel
                                                </label>

                                                <label style="margin-left: 8px;" class="labels">
                                                <input type="radio" name="exportType" value="pdf"> PDF
                                                </label>

                                                <label class="labels" style="margin-left: 20px;">Start Date:
                                                <input type="date" id="startDate">
                                                </label>

                                                <label class="labels" style="margin-left: 20px;">End Date:
                                                    <input type="date" id="endDate">
                                                </label>

                                                <select id="timeintervalOfPdfExcel" style="width: 130px; height: 28px; margin-left: 20px;">
                                                    <option value="" disabled selected>Filter By</option>
                                                    <option value="monthly">Monthly</option>
                                                    <option value="weekly">Weekly</option>
                                                    <option value="daily">Daily</option>
                                                    <option value="yearly">Yearly</option>
                                                </select>

                                                <button onclick="exportData()" class="exportBtn">Export</button>
                                                <button onclick="closeExportModal()"  class="cancelBtn" style="margin-left: 15px;">Cancel</button>
                                            </div>
                                            <!-- /pdf/excel popup -->


                                            <!-- best selling products -->
                                            <div class="bestProductcontainer">
                                                <div  class="productNestBox">
                                                    <p class="bestProductText">Best selling products</p>
                                                    <select id="timeIntervalSelect">
                                                        <option value="monthly">Monthly</option>
                                                        <option value="weekly">Weekly</option>
                                                        <option value="daily">Daily</option>
                                                        <option value="yearly">Yearly</option>
                                                    </select>
                                                </div>
                                                <div style="width: 1145px; height: 560px; margin-top: 60px;">
                                                    <canvas  id="bestSellingProductsChart"></canvas>
                                                </div>

                                            </div>
                                            <!-- /best selling products -->


                                            <!-- best selling category -->
                                            <div class="bestCategorycontainer">
                                                <div  class="categoryNestBox">
                                                    <select id="timeIntervalCategory" >
                                                        <option value="monthly">Monthly</option>
                                                        <option value="weekly">Weekly</option>
                                                        <option value="daily">Daily</option>
                                                        <option value="yearly">Yearly</option>
                                                    </select>
                                                </div>
                                                <p class="bestCategoryText">Best selling category</p>
                                                <div style="width: 1145px; height: 560px; margin-top: 60px;">
                                                    <canvas id="bestSellingCategoriesChart"></canvas>
                                                </div>
                                            </div>
                                            <!-- /best selling category -->


                                            <!-- best selling brands -->
                                            <div class="bestBrandcontainer">
                                                <div  class="brandNestBox">
                                                    <select id="timeIntervalBrand">
                                                        <option value="monthly">Monthly</option>
                                                        <option value="weekly">Weekly</option>
                                                        <option value="daily">Daily</option>
                                                        <option value="yearly">Yearly</option>
                                                    </select>
                                                </div>
                                                <p class="bestBrandText">Best selling brands</p>
                                                <canvas id="bestSellingBrandsChart"></canvas>
                                            </div>
                                            <!-- /best selling brands -->

                        
                                        </div>

                                    </div>
                                    </div>
                                </div>
                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
        </div>
    </div>

    

  <!-- close pdf/excel modal -->
  <script>
    function closeExportModal() {
        var pdfExcelContainer = document.getElementById('pdfExcelContainer');
        pdfExcelContainer.style.display = 'none';
    }
</script>
<!-- / close pdf/excel modal -->




<!-- show pdf/excel div -->
<script>
document.addEventListener('DOMContentLoaded', function() {
        var pdfOrExcelOption = document.getElementById('pdfOrExcelOption');
        var pdfExcelContainer = document.getElementById('pdfExcelContainer');
    
        pdfOrExcelOption.addEventListener('click', function() {
            if (pdfExcelContainer.style.display === 'none') {
                pdfExcelContainer.style.display = 'block';
            } else {
                pdfExcelContainer.style.display = 'none';
            }
        });
    });
</script>
<!-- show pdf/excel div -->



<!-- pdf and excel handling -->
<script>
async function exportData() {
    // Get the selected export type
    const exportType = document.querySelector('input[name="exportType"]:checked').value;

    // Get the start and end dates
    const startDate = document.getElementById('startDate').value;
    const endDate = document.getElementById('endDate').value;
    console.log('startDate', startDate);
    console.log('endDate', endDate);

    // Retrieve the values for totalUsers, latestOrders, and totalSalesAmount from hidden input fields
    const totalUsers = document.querySelector('input[name="totalUsers"]').value;
    const latestOrders = document.querySelector('input[name="latestOrders"]').value;
    const totalSalesAmount = document.querySelector('input[name="totalSalesAmount"]').value;

    const interval = document.getElementById('timeintervalOfPdfExcel').value;

    // Construct the URL based on the selected export type
    let url = '';
    if (exportType === 'excel') {
        url =  `/excel-salesReport?startDate=${startDate}&endDate=${endDate}&interval=${interval}`
        // url = '/excel-salesReport?startDate=' + startDate + '&endDate=' + endDate + '&totalUsers=' + encodeURIComponent(totalUsers) + '&latestOrders=' + encodeURIComponent(latestOrders) + '&totalSalesAmount=' + encodeURIComponent(totalSalesAmount);
    }
     else if (exportType === 'pdf') {
        url = `/pdf-salesReport?startDate=${startDate}&endDate=${endDate}&interval=${interval}`;
        // url = '/pdf-salesReport?startDate=' + startDate + '&endDate=' + endDate + '&totalUsers=' + encodeURIComponent(totalUsers) + '&latestOrders=' + encodeURIComponent(latestOrders) + '&totalSalesAmount=' + encodeURIComponent(totalSalesAmount);
        const response = await fetch(url);
        const blob = await response.blob();

        const downloadLink = document.createElement('a');
        downloadLink.href = window.URL.createObjectURL(blob);
        downloadLink.download = 'sales report';
        downloadLink.click();
    }

    // If the URL is constructed, redirect to the URL
    if (url) {
        window.location.href = url;
    } else {
        alert('Please select an export type.');
    }
}
</script>

<!-- pdf and excel handling -->





<!-- best selling products -->
<script>
    
const timeIntervalSelect = document.getElementById('timeIntervalSelect');

function updateChart(dataType, interval) {
fetch(`/bestSellingProducts?interval=${interval}`)
    .then(response => response.json())
    .then(data => {
        const ctx = document.getElementById('bestSellingProductsChart').getContext('2d');
        const existingChart = Chart.getChart(ctx); // Get existing chart instance

        if (existingChart) {
            existingChart.destroy(); // Destroy existing chart instance
        }

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: data.map(item => item._id),
                datasets: [{
                    label: 'Number of Orders',
                    data: data.map(item => item.total),
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    });
    }

// Update chart when selection changes
timeIntervalSelect.addEventListener('change', (event) => {
    updateChart('bestSellingProducts', event.target.value);
});

//initial calling
//updateChart('bestSellingProducts', event.target.value);
updateChart('bestSellingProducts', timeIntervalSelect.value);
</script>
<!-- best selling products  -->





<!-- best selling categories -->
<script>
    const timeIntervalCategory = document.getElementById('timeIntervalCategory');
    function updateChartt(dataType, interval) {
    fetch(`/bestSellingCategories?interval=${interval}`)
    .then(response => response.json())
    .then(data => {
        const ctx = document.getElementById('bestSellingCategoriesChart').getContext('2d');
        const existChart = Chart.getChart(ctx); // Get existing chart instance

        if (existChart) {
            existChart.destroy(); // Destroy existing chart instance
        }
        new Chart(ctx, {
        type: 'bar',
        data: {
            labels: data.map(item => item._id),
            datasets: [{
            label: 'Number of Orders',
            data: data.map(item => item.total),
            backgroundColor: 'rgba(255, 99, 132, 0.2)', // Different color for categories
            borderColor: 'rgba(255, 99, 132, 1)',
            borderWidth: 1
            }]
        },
        options: {
            scales: {
            y: {
                beginAtZero: true
            }
            }
        }
        });
    });
}

// Update chart when selection changes
timeIntervalCategory.addEventListener('change', (event) => {
    updateChartt('bestSellingCategories', event.target.value);
});

//initial calling
//updateChart('bestSellingCategories', event.target.value);
updateChartt('bestSellingCategories', timeIntervalCategory.value);
</script>
<!-- best selling category -->


<!-- best selling brands -->
<script>
    const timeIntervalBrand = document.getElementById('timeIntervalBrand');
    function updatechart(dataType, interval) {
        fetch(`/bestSellingBrands?interval=${interval}`)
        .then(response => response.json())
        .then(data => {
            const ctx = document.getElementById('bestSellingBrandsChart').getContext('2d');
            const chartExist = Chart.getChart(ctx); // Get existing chart instance

            if (chartExist) {
                chartExist.destroy(); // Destroy existing chart instance
            }
            
            new Chart(ctx, {
            type: 'bar',
            data: {
                labels: data.map(item => item._id),
                datasets: [{
                label: 'Number of Orders',
                data: data.map(item => item.total),
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
                }]
            },
            options: {
                scales: {
                y: {
                    beginAtZero: true
                }
                }
            }
            });
        });
    }

    // Update chart when selection changes
    timeIntervalBrand.addEventListener('change', (event) => {
        updatechart('bestSellingBrands', event.target.value);
});

//initial calling
updatechart('bestSellingBrands', timeIntervalBrand.value);
</script>
<!-- best selling brands  -->



<!-- script for sidebar menu activation -->
<script>
    // get the current URL
    var currentUrl = window.location.href;
    // select all links inside the sidebar
    var sidebarLinks = document.querySelectorAll('.admin-links');

    sidebarLinks.forEach(function(link) {
        if (link.href === currentUrl) {
            link.parentElement.classList.add('active');
        }
    });
</script>
<!-- /script for sidebar menu activation -->





<!-- bootstrap links -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEX9r+05Op9j7t17I1MIY+6Y55pZeHoDQT6gQ"crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy5q4KZl+ddPnhB6J4l1p4kp6AP6Mab1+g"crossorigin="anonymous"></script>









</body>

</html>
